{% extends 'base.html' %}

{% block head %}
    <title>Golden Lipper Vip System</title>
    {% load static %}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css" rel="stylesheet">
{% endblock %}
{% block body %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Welcome To Golden Lipper</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
{% endblock %}